In [1]:
""" Filter only negative and zero in the list using list comprehension

numbers = [-4, -3, -2, -1, 0, 2, 4, 6] """

numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

numbers1 = [i for i in numbers if i<=0]
print(numbers1)

[-4, -3, -2, -1, 0]

In [5]:
""" Flatten the following list of lists of lists to a one dimensional list :

list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

output
[1, 2, 3, 4, 5, 6, 7, 8, 9] """

list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

numbers1 = [numbers for row1 in list_of_lists for row2 in row1 for numbers in row2]
print(numbers1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
""" Using list comprehension create the following list of tuples:

[(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)] """



list = [(i,"1",i,i*i,i*i*i,i*i*i*i,i*i*i*i*i)for i in range(0,11)]
for i in range (0,len(list)):
    print(list[i])

(0, '1', 0, 0, 0, 0, 0)
(1, '1', 1, 1, 1, 1, 1)
(2, '1', 2, 4, 8, 16, 32)
(3, '1', 3, 9, 27, 81, 243)
(4, '1', 4, 16, 64, 256, 1024)
(5, '1', 5, 25, 125, 625, 3125)
(6, '1', 6, 36, 216, 1296, 7776)
(7, '1', 7, 49, 343, 2401, 16807)
(8, '1', 8, 64, 512, 4096, 32768)
(9, '1', 9, 81, 729, 6561, 59049)
(10, '1', 10, 100, 1000, 10000, 100000)

In [48]:
""" Flatten the following list to a new list:

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
output:
[['FINLAND','FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']] """
 

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
list1 = [[values.upper(),values[:3].upper(),capital.upper()] for row in countries for (values,capital) in row ]
print(list1)

[['FINLAND', 'FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

In [50]:
""" Change the following list to a list of dictionaries:

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
output:
[{'country': 'FINLAND', 'city': 'HELSINKI'},
{'country': 'SWEDEN', 'city': 'STOCKHOLM'},
{'country': 'NORWAY', 'city': 'OSLO'}] """


countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
list1 = [{'country':values.upper(),'city':capital.upper()} for row in countries for (values,capital) in row ]
print(list1)

[{'country': 'FINLAND', 'city': 'HELSINKI'}, {'country': 'SWEDEN', 'city': 'STOCKHOLM'}, {'country': 'NORWAY', 'city': 'OSLO'}]

In [55]:
""" Change the following list of lists to a list of concatenated strings:

names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
output
['Asabeneh Yetaeyeh', 'David Smith', 'Donald Trump', 'Bill Gates']
 """
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]

list1 = [(values+" "+surname)for row in names for (values,surname)in row]
print(list1)

['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']

In [56]:
""" Write a lambda function which can solve a linear functions.

 """
values = lambda x:x**2+x*4+3
print(values(3))

24