In [3]:
""" Exercises: Level 1

Write a loop that makes seven calls to print(), so we get on the output the following triangle:

  #
  ##
  ###
  ####
  #####
  ######
  #######
Use nested loops to create the following:

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
Print the following pattern:

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100


 """

" Exercises: Level 1\n\nWrite a loop that makes seven calls to print(), so we get on the output the following triangle:\n\n  #\n  ##\n  ###\n  ####\n  #####\n  ######\n  #######\nUse nested loops to create the following:\n\n# # # # # # # #\n# # # # # # # #\n# # # # # # # #\n# # # # # # # #\n# # # # # # # #\n# # # # # # # #\n# # # # # # # #\n# # # # # # # #\nPrint the following pattern:\n\n0 x 0 = 0\n1 x 1 = 1\n2 x 2 = 4\n3 x 3 = 9\n4 x 4 = 16\n5 x 5 = 25\n6 x 6 = 36\n7 x 7 = 49\n8 x 8 = 64\n9 x 9 = 81\n10 x 10 = 100\nIterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.\n\nUse for loop to iterate from 0 to 100 and print only even numbers\n\nUse for loop to iterate from 0 to 100 and print only odd numbers\n\n "

In [8]:
for i in range(1,11):
    print(i ,' * ',i,' = ',i*i)

1  *  1  =  1
2  *  2  =  4
3  *  3  =  9
4  *  4  =  16
5  *  5  =  25
6  *  6  =  36
7  *  7  =  49
8  *  8  =  64
9  *  9  =  81
10  *  10  =  100

In [6]:
for i in range(1,8,1):
    print('# '*i)

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #

In [7]:
for i in range(1,9,1):
    print('# '*8)

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [9]:
""" Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

""" 

lst = ['Python', 'Numpy','Pandas','Django', 'Flask']
for item in lst:
    print(item)

Python
Numpy
Pandas
Django
Flask

In [12]:
for i in range(1,7):
    if i ==1 or i ==6:
        print("# "*7)
    else:
        print("#           #")

# # # # # # #
#           #
#           #
#           #
#           #
# # # # # # #

In [37]:
for i in range(1,6):
    print('  ' * (6 - i - 1), end='')
    for j in range(1,2*i):
            print(j,end=' ')
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9